/* MAPA */
#map{
    position: relative;
}

/* Barras */
#estado .button.is-selected{
    border-bottom: 1px;
}

#estado #f_ocupados{
    border-bottom: 4px solid #f58518;
}
#estado #f_ocupados.is-selected{
    color: #fff;
    background-color: #f58518;
    border-color: #f58518;
}

#estado #f_disponibles{
    border-bottom: 4px solid #4c78a8;
}
#estado #f_disponibles.is-selected{
    color: #fff;
    background-color: #4c78a8;
    border-color: #4c78a8;
}

.xAxis_estados .tick line,
.yAxis_estados .tick line{
    stroke: #ddd;
}

.xAxis_estados .tick text,
#bars .bar{
    cursor: pointer;
}

.annotation-note-bg{
    fill-opacity: 0.75;
}

#filters{
    background-color: #fff;
    z-index: 999;
}